/* main */
/* variables v. 0.1.2 07.04.2017 @ filip-swinarski */
/* base v. 0.1.6 01.04.2017 @ filip-swinarski */
.body { width: 100%; height: 100%; }

.tools { font-size: 14px; font-family: 'Space Mono', monospace; background-color: #fff; }

.tools__panel { position: relative; }

/* inspector v. 0.1.6 21.04.2017 @ filip-swinarski */
.inspector__header { border: 1px solid #bcbcbc; padding: 10px; cursor: pointer; }

.inspector__display { position: relative; overflow: auto; }

.inspector__display > .inspector__exp { display: block; }

.inspector__display--expanded { border-left: 1px solid #bcbcbc; border-right: 1px solid #bcbcbc; border-bottom: 1px solid #bcbcbc; height: 400px; transition: height .5s; }

.inspector__display--collapsed { height: 0; transition: height .5s; padding: 0; margin: 0; border-left: 0 none transparent; border-right: 0 none transparent; }

.inspector__row { white-space: nowrap; color: #444; }

.inspector__row:hover::before { content: ''; width: 100%; height: 20px; background-color: #efefef; position: absolute; left: 0; z-index: -1; }

.inspector__row--opening { cursor: pointer; }

.inspector__row--expanded ~ .inspector__exp { display: block; }

.inspector__exp { display: none; margin-left: 20px; }

.inspector__tag-open { position: relative; }

.inspector__tag-open::after { content: ''; display: none; border-left: 6px solid #bbb; border-top: 4px solid transparent; border-bottom: 4px solid transparent; position: absolute; top: 5px; left: -8px; }

.inspector__tag-open--collapsed::after { display: block; transform: rotate(0); transition: transform .5s; }

.inspector__tag-open--expanded::after { display: block; transform: rotate(90deg); transition: transform .5s; }

.inspector__tag-close:last-child { padding-right: 10px; }

.inspector__tag-name { color: #800080; }

.inspector__attr-name { color: #000; padding-left: 5px; }

.inspector__attr-value { color: #00f; }

/* console v. 0.1.6 21.04.2017 @ filip-swinarski */
.console__header { border-left: 1px solid #bcbcbc; border-right: 1px solid #bcbcbc; padding: 10px; cursor: pointer; }

.console__display { overflow: auto; }

.console__display--expanded { border-left: 1px solid #bcbcbc; border-right: 1px solid #bcbcbc; border-top: 1px solid #bcbcbc; height: 400px; transition: height .5s; }

.console__display--collapsed { height: 0; transition: height .5s; padding: 0; margin: 0; border-left: 0 none transparent; border-right: 0 none transparent; }

.console__input { width: calc(100% - 2px); height: 30px; margin: 0; padding: 0; text-indent: 30px; border-bottom: 0 none transparent; border-top: 1px solid #bcbcbc; }

.console__input--expanded { display: block; border-left: 1px solid #bcbcbc; border-right: 1px solid #bcbcbc; height: 30px; }

.console__input--collapsed { display: none; padding: 0; margin: 0; border--left: 0 none transparent; border--right: 0 none transparent; }

.console__prompt { position: absolute; left: 0; bottom: 0; width: 30px; height: 30px; }

.console__prompt::before { content: '>>'; display: block; position: absolute; top: 3px; left: 5px; height: 10px; color: #acacac; }

.console__prompt--expanded { display: block; }

.console__prompt--collapsed { display: none; }

.console__msg-i { color: #acacac; padding: 5px 5px 5px 25px; }

.console__msg-r { color: #000; padding: 5px 5px 5px 25px; }

.console__msg-r--err { color: #a93226; background-color: #fadbd8; }

.console__msg-rprompt { width: 25px; position: relative; color: #acacac; }

.console__msg-rprompt::before { content: '<='; display: block; position: absolute; left: -20px; top: 3px; font-size: 12px; }

.console__msg-iprompt { width: 25px; position: relative; }

.console__msg-iprompt::before { content: '>>'; display: block; position: absolute; left: -20px; font-size: 12px; }

.console__err-prompt { width: 25px; position: relative; }

.console__err-prompt::before { content: 'x'; display: block; position: absolute; left: -17px; top: 0; font-size: 12px; }

.console__undefined { color: #adadad; }

.console__number { color: #0000cc; }

.console__string { color: #cc6600; }

.console__boolean { color: #800000; }

.console__null { color: #800000; }

.console__key { color: #800000; }

.console__key::after { content: ': '; }

.console__index { display: none; }

.console__value:not(:last-child)::after { content: ', '; }

.console__array::after { content: ']'; }

.console__array::before { content: '['; }

.console__object::after { content: '}'; }

.console__object::before { content: '{'; }

.console__f-name { color: #0099ff; }

.console__f-key { color: #800000; }

/* browser_info v. 0.1.2 15.04.2017 @ filip-swinarski */
.browser__header { border: 1px solid #bcbcbc; padding: 10px; cursor: pointer; }

.browser__display { padding: 10px; overflow: hidden; }

.browser__display--expanded { border-left: 1px solid #bcbcbc; border-right: 1px solid #bcbcbc; height: 400px; transition: height padding-top padding-bottom .5s; }

.browser__display--collapsed { height: 0; transition: height pading-top padding-bottom .5s; padding-top: 0; padding-bottom: 0; border-left: 0 none transparent; border-right: 0 none transparent; }

/* popup v. 0.1.2 05.05.2017 @ filip-swinarski */
.popup { position: fixed; background-color: #fff; border: 1px solid #bcbcbc; width: calc(100% - 20px); height: auto; top: 50%; transform: translate(0, -50%); padding-bottom: 10px; }

.popup__close { position: absolute; top: 0; right: 0; background-color: #fff; border-bottom: 1px solid #bcbcbc; border-left: 1px solid #bcbcbc; padding: 2px 6px; cursor: pointer; font-size: 20px; }

.popup__wrapper { height: calc(100vh - 54px); overflow-x: hidden; overflow-y: scroll; margin-top: 29px; position: relative; }

.popup__header { padding: 10px; position: relative; }

.popup__header--expanded { padding-bottom: 40px; }

.popup__headline { display: block; padding-bottom: 5px; }

.popup__add { position: absolute; -moz-appearance: none; background-color: transparent; box-shadow: none; border: 0 none transparent; padding: 0; right: 5px; top: 5px; font-size: 20px; }

.popup__add-input { -moz-appearance: none; border: 1px solid #bcbcbc; position: absolute; right: 9px; }

.popup__add-label--collapsed { display: none; }

.popup__add-label--expanded { display: block; padding-top: 5px; padding-left: 10px; padding-bottom: 5px; }

.popup__apply { position: absolute; right: 10px; top: 94px; border: 0 none transparent; background-color: #a93226; -moz-appearance: none; color: #fff; padding: 0 10px 4px; }

.popup__apply--collapsed { display: none; }

.popup__apply--expanded { display: inline-block; }

.popup__cancel { position: absolute; right: 65px; top: 94px; border: 0 none transparent; background-color: #acacac; -moz-appearance: none; color: #444; padding: 0 10px 4px; }

.popup__cancel--collapsed { display: none; }

.popup__cancel--expanded { display: inline-block; }

.popup__list { list-style: none; margin-top: 0; margin-bottom: 0; padding-left: 20px; }

.popup__list-element { position: relative; }

.popup__list-label { display: block; }

.popup__list-separator { padding-right: 5px; }

.popup__list-input { -moz-appearance: none; border: 1px solid #fff; }

.popup__list-input:focus { border: 1px solid #bcbcbc; }

.popup__list-btn { position: absolute; right: 10px; border: 0 none transparent; background-color: #a93226; -moz-appearance: none; top: 0; color: #fff; padding: 0 10px 4px; }

.popup__list-btn--expanded { visibility: visible; }

.popup__list-btn--collapsed { visibility: hidden; }

/*# sourceMappingURL=main.css.map */