/* browser_info v. 0.1.2 15.04.2017 @ filip-swinarski */

.browser {

    &__header {
    
        border: 1px solid $border-color;
        padding: 10px;
        cursor: pointer;
    
    }

    &__display {
    
        padding: 10px;
        overflow: hidden;

        &--expanded {
        
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
            height: 400px;
            transition: height padding-top padding-bottom .5s;

        }

        &--collapsed {
        
            height: 0;
            transition: height pading-top padding-bottom .5s;
            padding-top: 0;
            padding-bottom: 0;
            border-left: 0 none transparent;
            border-right: 0 none transparent;
        
        }

    }

}
