/* console v. 0.1.5 15.04.2017 @ filip-swinarski */

.console {

    &__header {
    
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        padding: 10px;
        cursor: pointer;
    
    }

    &__display {
    
        overflow: hidden;

        &--expanded {
        
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
            border-top: 1px solid $border-color;
            height: 400px;
            transition: height .5s;

        }

        &--collapsed {
        
            height: 0;
            transition: height .5s;
            padding: 0;
            margin: 0;
            border-left: 0 none transparent;
            border-right: 0 none transparent;
        
        }

    }

    &__input {
    
        width: calc(100% - 2px);
        height: 30px;
        margin: 0;
        padding: 0;
        text-indent: 30px;
        border-bottom: 0 none transparent;
        border-top: 1px solid $border-color;

        &--expanded {
        
            display: block;
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
            height: 30px;

        }

        &--collapsed {
        
            display: none;
            padding: 0;
            margin: 0;
            border--left: 0 none transparent;
            border--right: 0 none transparent;
        
        }

    }

    &__prompt {
    
        position: absolute;
        left: 0;
        bottom: 0;
        width: 30px;
        height: 30px;

        &::before {
        
            content: '>>';
            display: block;
            position: absolute;
            top: 3px;
            left: 5px;
            height: 10px;
            color: $light-gray; 

        }

        &--expanded {
        
            display: block;
        }

        &--collapsed {
        
            display: none;
        
        }
    
    }

    &__msg-i {
    
        color: $light-gray;
        padding: 5px 5px 5px 25px;
    
    }

    &__msg-r {
    
        color: $default-color;
        padding: 5px 5px 5px 25px;

        &--err {
        
            color: $err-color;
            background-color: $err-bg-color;

        }
    
    }

    &__msg-rprompt {
    
        width: 25px;
        position: relative;
        color: $light-gray;

        &::before {
        
            content: '<=';
            display: block;
            position: absolute;
            left: -20px;
            top: 3px;
            font-size: 12px;
        
        }
    
    }

    &__msg-iprompt {
    
        width: 25px;
        position: relative;

        &::before {
        
            content: '>>';
            display: block;
            position: absolute;
            left: -20px;
            font-size: 12px;
        
        }
    }

    &__err-prompt {
    
        width: 25px;
        position: relative;

        &::before {
        
            content: 'x';
            display: block;
            position: absolute;
            left: -17px;
            top: 0;
            font-size: 12px;
        
        }
    
    }

	&__undefined {
	
		color: $undefined-color;
	
	}

	&__number {
	
		color: $number-color;
	
	}

	&__string {
	
		color: $string-color;
	
	}

	&__boolean {
	
		color: $boolean-color;
	
	}

	&__null {
	
		color: $null-color;
	
	}

	&__key {
	
		color: $key-color;

		&::after {
		
			content: ': ';
		
		}
	
	}

	&__index {
	
		display: none;
	
	}

	&__value:not(:last-child)::after {
	
		content: ', ';
	
	}

	&__array {
	
		&::after {
		
			content: ']';
		
		}

		&::before {
		
			content: '[';
		
		}
	
	}

	&__object {
	
		&::after {
		
			content: '}';
		
		}

		&::before {
		
			content: '{';
		
		}
	
	}

	&__f-name {
	
		color: $fname-color;
	
	}

	&__f-key {
	
		color: $key-color;
	
	}

}

