/* inspector v. 0.1.0 28.03.2017 @ filip-swinarski */

.row {

	white-space: nowrap;
	color: #444;

	&:hover::before {
	
		content: '';
		width: 100%;
		height: 20px;;
		background-color: #efefef;
		position: absolute;
		left: 0;
		z-index: -1;
	
	}

}

.opening {

	cursor: pointer;
	position: relative;

}

.exp {

	display: none;

	& > .opening::after {

		content: '';
		display: none;
		border-left: 6px solid #bbb;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		position: absolute;
		top: 8px;
		left: -8px;

	}

	& > .opening.collapsed::after {

		display: block;
		transform: rotate(0);
		transition: transform .5s;

	}

	& > .opening.expanded::after {

		display: block;
		transform: rotate(90deg);
		transition: transform .5s;

	}

}

.display > .exp {

	display: block;

}

.expanded ~ .exp {

	display: block;

}

.tag-name {

	color: #800080;

}

.attr-name {

	color: #000;

}

.attr-value {

	color: #00f;

}

