/* inspector v. 0.1.3 30.03.2017 @ filip-swinarski */

.inspector {

	&__display {

		position: relative;
		border: 1px solid $border-color;

		& > .inspector__exp {

			display: block;

		}

	}

	&__row {
	
		white-space: nowrap;
		color: $dark-gray;

		&:hover::before {
		
			content: '';
			width: 100%;
			height: 20px;;
			background-color: $hover-bg-color;
			position: absolute;
			left: 0;
			z-index: -1;
		
		}

		&--opening {
		
			cursor: pointer;
			position: relative;

		}

		&--expanded ~ .inspector__exp {

			display: block;

		}
	
	}

	&__exp {
	
		display: none;
		margin-left: 20px;

		& > .inspector__row--opening::after {

			content: '';
			display: none;
			border-left: 6px solid #bbb;
			border-top: 4px solid transparent;
			border-bottom: 4px solid transparent;
			position: absolute;
			top: 8px;
			left: -8px;

		}

		& > .inspector__row--collapsed::after {

			display: block;
			transform: rotate(0);
			transition: transform .5s;

		}

		& > .inspector__row--expanded::after {

			display: block;
			transform: rotate(90deg);
			transition: transform .5s;

		}
	
	}

	&__tag-name {

		color: $tag-color;

	}

	&__attr-name {

		color: $default-color;

	}

	&__attr-value {

		color: $attr-color;

	}

}
