/* popup v. 0.1.1 15.04.2017 @ filip-swinarski */

.popup {

    position: absolute;
    top: 0;
    background-color: $bg-color;
    border: 1px solid $border-color;
    width: 80%;
    height: 80%;
    top: 50%;
    transform: translate(10%, -50%);

    &__close {

        position: absolute;
        top: -15px;
        right: -15px;
        background-color: $bg-color;
        border: 1px solid $border-color;
        padding: 2px 6px;
        cursor: pointer;

    }

    &__header {
    
        padding: 10px;
        position: relative;
    
    }

    &__headline {
    
        display: block;
        padding-bottom: 5px;

    }
    
    &__add {
    
        position: absolute;
        -moz-appearance: none;
        background-color: transparent;
        box-shadow: none;
        border: 0 none transparent;
        padding: 0;
        right: 5px;
        top: 5px;

        &-input {
        
            -moz-appearance: none;
            border: 1px solid $border-color;

        
        }

        &-label {
        
            &--collapsed {
            
                display: none;

            }

            &--expanded {
            
                display: block;

            }
        
        }
        
    }

    &__apply {
    
        position: absolute;
        right: 0;
        border: 0 none transparent;
        background-color: $bg-color;
        -moz-appearance: none;
        margin-left: 5px;

        &--collapsed {
        
            display: none;

        }

        &--expanded {
        
            display: inline-block;

        }
    
    }

    &__list {
    
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;

        &-element {
        
            position: relative;
        
        }

        &-label {
        
            display: block;
        
        }

        &-separator {
        
            padding-right: 5px;
        
        }

        &-input {
        
            -moz-appearance: none;
            border: 1px solid $bg-color;

            &:focus {
            
                border: 1px solid $border-color;

            }
        
        }

        &-btn {
        
            position: absolute;
            right: 0;
            border: 0 none transparent;
            background-color: $bg-color;
            -moz-appearance: none;
            margin-left: 5px;

            &--expanded {
            
                visibility: visible;
            
            }

            &--collapsed {
            
                visibility: hidden;
            
            }
        
        }
    
    }


}

