/* variables v. 0.1.1 30.03.2017 @ filip-swinarski */

$border-color: #bcbcbc;
$light-gray: #acacac;
$dark-gray: #444;
$hover-bg-color: #efefef;
$default-color: #000;
$tag-color: #800080;
$attr-color: #00f;
$err-color: #a93226;
$err-bg-color: #fadbd8;
